<div class="jumbotron">
  <h1 class="display-4" style="text-align:center;">Calculation App</h1>
 <div class="well" id="chat_form" style="height:300px; overflow-y:scroll;">
   <% @expressions.each do |expression| %>
        <%= render 'expressions/expression', expression: expression %>
   <%end%> 
 </div>

 <%= form_with model: @expression do |f| %>
    <div class="input-group md-3">
        <%= f.text_field :body, placeholder:"Enter your mathematical expression", class:"form-control"%>
        <div class="input-group-append">
            <%= f.submit "Calculate", class:"btn btn-primary" %>
        </div>
    </div>
    <% end %>
</div>